<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><img src="https://klike.net/uploads/posts/2020-12/1606902196_1.jpg"></p>
    <p>Все ответы на курс Ява на скиллбокс (я точно знаю о чем идет речь, можете покупать у меня ответы)</p>
    <p>115 долларов</p>
    <p><a href="https://skillbox.ru/course/profession-java/">Страница курса на сайте скиллбокс</a></p>
    <p><a href="https://qiwi.com/">Оплатить</a></p>
    <p><a href="http://127.0.0.1:8000/">На главную</a></p>
</body>
</html>