<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Прошел все курсы на SkillBox. Продаю готовые домашние задания</h1>
    <p><a href="http://127.0.0.1:8000/java/">Java junior skillbox ответы на курсы</a></p>
    <p><a href="http://127.0.0.1:8000/html/">Html junior skillbox ответы на курсы</a></p>
    <p><a href="http://127.0.0.1:8000/google/">Google junior skillbox ответы на курсы</a></p>
    <p><a href="http://127.0.0.1:8000/kartoshka/">Kartoshka junior skillbox купить</a></p>
    <p><a href="http://127.0.0.1:8000/valera/">Valera junior skillbox информация о человеке</a></p>
</body>
</html>