<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>valerii</title>
</head>
<body>
    <img src="https://www.astromeridian.ru/assets/images/imya/valerii.jpg">
    <p>Вся информация про валеру, то что вы хотели знать, но боялись спросить</p>
    <p>Цена - бесценно</p>
    <p><a href="https://skillbox.ru/course/profession-2d-artist/">Страница курса на сайте скиллбокс</a></p>
    <p><a href="https://qiwi.com/">Оплатить</a></p>
    <p><a href="/">На главную</a></p>
</body>
</html>