<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OLX</title>
    <h1>Все бесплатные обьявления</h1>
    {% if advertisement_list %}
    <ul>
        {% for advertisement in advertisement_list %}
        <li>
            {% for id, name in catalogs_dict.items %}
                {% if id == advertisement.catalog_data_id %}
                     <a href="/olx/{{advertisement.id}}">{{ advertisement.title }}</a>
                    <p>Цена: {{ advertisement.price }} рублей.</p>
                    <p> Каталог: {{ name }}</p>
                {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Обьявлений пока нет</p>
    {% endif %}
</head>
<body>

</body>
</html>