<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>{{advertisement.title}}</h1>
    <p>Цена: {{ advertisement.price }} рублей</p>
    <p>Описание: {{ advertisement.discription}}</p>
    <p> Каталог: {{ current_catalog }}</p>
    <p> Продавец: {{ name }}</p>
    <p> Номер телефона: {{ contact_phone }}</p>
    <p> Имейл: {{ email }}</p>
    <p>Обявление было создано: {{advertisement.create_at}}</p>
    <p>Будет доступно до: {{advertisement.end_data}}</p>
    <p>Просмотров: {{advertisement.views_count}}</p>
     <a href="/olx/"> К списку обьявлений</a>
</head>
<body>

</body>
</html>